.home-page-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.page-left{
    padding: 2em;
    
}

.page-right{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    padding: 2em;
    box-shadow: 0 5px 15px 0 black;
    margin: 2em;
    background-color: #fffcf2;
}

.profile-pic-wrapper{
    height: 100%;
    width: 100%;
    box-shadow: 0 5px 15px 0 black;
    background-color: #fffcf2;
    

}
.profile-pic{
    height: 100%;
    width: 100%;
    padding: 1em;
}

.fullname,.title{
    margin:1em;
    
}

@media(max-width: 850px) {
    .home-page-container{
        display:flex;
        flex-direction: column;
        margin-top:10em;
    }

    .page-left,.page-right{
        padding:0.2em;
    }
    

}

@media(max-width: 700px) {
    .home-page-container {
        display: flex;
        flex-direction: column;
        margin-top: 8em;
    }
    .page-right {
        margin:0.5em;
    }

}

@media(max-width: 550px) {
    .home-page-container {
        display: flex;
        flex-direction: column;
        margin-top: 6em;
    }

}

@media(max-width: 450px) {
    .home-page-container {
        display: flex;
        flex-direction: column;
        margin-top: 4em;
    }

}